ion-header {
  --background: #007bff; 
  --color: #ffffff; 
}

ion-toolbar {
  --background: #007bff; 
  --color: #ffffff; 
}

ion-content {
  --background: #f0f0f0; 
}

ion-item {
  background-color: #ffffff; 
  border-radius: 10px; 
  margin-bottom: 10px; 
}

ion-button {
  --background: #015796; 
  --color: #ffffff; 
  border-radius: 10px; 
  margin-top: 20px; 
}

ion-title {
  color: #ffff; 
  text-align: center; 
}

ion-label {
  color: #fff; 
  font-size: 16px; 
}
